/* line 2, ../scss/_base.scss */
body {
  font-size: 16px;
  overflow-x: hidden;
}

/* line 1, ../scss/_header.scss */
.header-info {
  padding: .75rem 0;
  background-color: #000000;
  font-size: 0.5rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
/* line 7, ../scss/_header.scss */
.header-info .container {
  max-width: 55rem;
}
/* line 10, ../scss/_header.scss */
.header-info a {
  color: #ffffff;
  padding: 0 .312rem;
}
/* line 13, ../scss/_header.scss */
.header-info a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 19, ../scss/_header.scss */
.header-info li:first-child::after {
  content: "/";
  display: block;
  color: #D02323;
}

/* line 27, ../scss/_header.scss */
.header-menu {
  padding: .937rem 0;
  position: relative;
}
/* line 30, ../scss/_header.scss */
.header-menu .container {
  max-width: 55rem;
}
/* line 33, ../scss/_header.scss */
.header-menu img {
  max-width: 11.687rem;
}

/* line 38, ../scss/_header.scss */
.header-menu-block {
  margin: 0;
  padding: .75rem 0;
}
/* line 41, ../scss/_header.scss */
.header-menu-block li {
  list-style-type: none;
  position: relative;
}
/* line 44, ../scss/_header.scss */
.header-menu-block li a {
  cursor: pointer;
  color: #D02323;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .5s linear;
  display: block;
  padding: 0.562rem 1rem;
  font-size: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
/* line 56, ../scss/_header.scss */
.header-menu-block li a:hover {
  color: #000000;
}
/* line 60, ../scss/_header.scss */
.header-menu-block li:hover .menu-sub {
  display: block;
}

/* line 66, ../scss/_header.scss */
.menu-sub {
  display: none;
  position: absolute;
  width: 13.25rem;
  left: -3.75rem;
  top: 1.687rem;
  padding: .937rem 0 0 0;
  z-index: 100;
  background-color: #ffffff;
}
/* line 75, ../scss/_header.scss */
.menu-sub li:first-of-type {
  position: relative;
}
/* line 77, ../scss/_header.scss */
.menu-sub li:first-of-type::before {
  content: ' ';
  width: 13.25rem;
  left: -.875rem;
  border-top: 2px solid #D02323;
  position: absolute;
}
/* line 85, ../scss/_header.scss */
.menu-sub li:last-of-type {
  border: 2px solid transparent;
}
/* line 88, ../scss/_header.scss */
.menu-sub li {
  text-align: center;
  padding: 0;
  margin: 0 .875rem;
  border-bottom: .125rem solid #efefef;
}
/* line 93, ../scss/_header.scss */
.menu-sub li a {
  color: #000000;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
}

/* line 1, ../scss/_hero.scss */
.hero {
  min-height: 31.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 576px) {
  /* line 1, ../scss/_hero.scss */
  .hero {
    min-height: 364px;
  }
}
/* line 10, ../scss/_hero.scss */
.hero .container {
  max-width: 55rem;
}
/* line 13, ../scss/_hero.scss */
.hero .hero-deco {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 21, ../scss/_hero.scss */
.hero-text .hero-sub-title {
  color: #baeaff;
  font-size: 1.375rem;
  font-weight: 300;
}
@media screen and (max-width: 576px) {
  /* line 21, ../scss/_hero.scss */
  .hero-text .hero-sub-title {
    font-size: 18px;
    line-height: normal;
  }
}
/* line 30, ../scss/_hero.scss */
.hero-text .hero-title {
  text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 3.75rem;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  /* line 30, ../scss/_hero.scss */
  .hero-text .hero-title {
    font-size: 24px;
    line-height: normal;
  }
}

/* line 1, ../scss/_section-content.scss */
.section-title {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 1.875rem;
  font-family: "Montserrat", sans-serif;
}
/* line 7, ../scss/_section-content.scss */
.section-title::after {
  content: '';
  display: block;
  height: 1px;
  width: 1.875rem;
  background-color: #f72727;
  margin: 0 auto;
  margin-top: .75rem;
}

/* line 18, ../scss/_section-content.scss */
.section-content {
  border-bottom: 3px dotted #dddddd;
}
/* line 20, ../scss/_section-content.scss */
.section-content .container {
  max-width: 55rem;
}
/* line 23, ../scss/_section-content.scss */
.section-content .section-text {
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5rem;
}
/* line 29, ../scss/_section-content.scss */
.section-content .section-content-button {
  margin-bottom: -1.75rem;
}

/* line 1, ../scss/_icons.scss */
.icon {
  margin-top: 1.75rem;
  padding-top: 3.625rem;
}
/* line 4, ../scss/_icons.scss */
.icon .section-title {
  font-size: 24px;
}

/* line 9, ../scss/_icons.scss */
.icons-block {
  padding: 0 .937rem;
}
/* line 11, ../scss/_icons.scss */
.icons-block .img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  border: 1px solid #dddddd;
  margin: 0 auto;
}
/* line 21, ../scss/_icons.scss */
.icons-block h4 {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1.875rem 0;
}

/* line 1, ../scss/_content-bg.scss */
.content-bg {
  margin: 50px 0;
  padding: 72px 0;
  background: linear-gradient(90deg, #ffffff 45%, #d02323 45.1%, #d02323 10000px);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 1, ../scss/_content-bg.scss */
  .content-bg {
    background: linear-gradient(180deg, #ffffff 45%, #d02323 45.1%, #d02323 100%);
  }
}

/* line 11, ../scss/_content-bg.scss */
.block-text {
  padding-left: 55px;
}
@media screen and (max-width: 768px) {
  /* line 11, ../scss/_content-bg.scss */
  .block-text {
    padding-left: 0;
  }
}
/* line 16, ../scss/_content-bg.scss */
.block-text h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 27px 0;
  font-family: "Montserrat", sans-serif;
}
/* line 24, ../scss/_content-bg.scss */
.block-text p {
  color: #ffffff;
  font-size: 10px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
}
/* line 30, ../scss/_content-bg.scss */
.block-text .block-text-btn {
  margin: 22px 0;
}

/* line 2, ../scss/_section-items.scss */
.section-items h2 {
  text-transform: uppercase;
  font-size: 24px;
}

/* line 8, ../scss/_section-items.scss */
.items {
  margin-bottom: 55px;
  border: 1px solid #dddddd;
}
/* line 11, ../scss/_section-items.scss */
.items img {
  width: 100%;
}
/* line 14, ../scss/_section-items.scss */
.items h3 {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 28px;
  font-family: "Montserrat", sans-serif;
}
/* line 23, ../scss/_section-items.scss */
.items p {
  color: #4a4a4a;
  font-size: 10px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 0 28px;
}
/* line 31, ../scss/_section-items.scss */
.items .items-btn {
  margin: 20px 0 40px;
}

/* line 1, ../scss/_section-bg.scss */
.section-bg {
  background: linear-gradient(90deg, #f7f7f7 40%, #ffffff 40.01%, #ffffff 10000px);
  padding: 72px 0;
}
/* line 4, ../scss/_section-bg.scss */
.section-bg img {
  max-width: 104px;
  max-height: 104px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* line 13, ../scss/_section-bg.scss */
.author-text h3 {
  color: #D02323;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.67px;
}
/* line 21, ../scss/_section-bg.scss */
.author-text p {
  color: #000000;
  font-size: 32px;
  line-height: 50px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

/* line 30, ../scss/_section-bg.scss */
.author-bottom {
  border-top: 1px solid #D02323;
  position: relative;
  margin-top: 20px;
}
/* line 34, ../scss/_section-bg.scss */
.author-bottom::after {
  content: "";
  display: block;
  border-bottom: 1px solid #D02323;
  width: 10000px;
  position: absolute;
  right: 0;
  top: -1px;
}

/* line 46, ../scss/_section-bg.scss */
.author-name {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.67px;
  font-family: "Montserrat", sans-serif;
}
/* line 53, ../scss/_section-bg.scss */
.author-name .data {
  font-weight: 500;
  letter-spacing: 3.56px;
  border-left: 1px solid #D02323;
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
}

/* line 63, ../scss/_section-bg.scss */
.button-block .button {
  width: 40px;
  height: 40px;
  border: 1px solid #D02323;
  border-radius: 50%;
  margin-right: 19px;
}
/* line 69, ../scss/_section-bg.scss */
.button-block .button i {
  color: #D02323;
  font-size: 24px;
  font-weight: 500;
}

/* line 1, ../scss/_button.scss */
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 6rem !important;
  transition: all .3s linear;
}
/* line 7, ../scss/_button.scss */
.btn.btn-danger {
  background-color: #D02323;
  color: #ffffff;
}
/* line 10, ../scss/_button.scss */
.btn.btn-danger:hover {
  background-color: #fff;
  border-color: #D02323;
  color: #D02323;
}
/* line 16, ../scss/_button.scss */
.btn.btn-outline-white {
  border: 1px solid #ffffff !important;
  color: #ffffff;
  background-color: transparent;
}
/* line 20, ../scss/_button.scss */
.btn.btn-outline-white:hover {
  background-color: #fff;
  color: #D02323;
}
/* line 25, ../scss/_button.scss */
.btn.btn-outline-danger {
  border: 1px solid #D02323 !important;
  color: #D02323;
}
/* line 29, ../scss/_button.scss */
.btn.btn-sm {
  font-size: 0.625rem;
  padding: 0.562rem 1rem;
}
/* line 33, ../scss/_button.scss */
.btn.btn-lg {
  border-radius: 10rem !important;
  padding: .625rem 1.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
}
/* line 40, ../scss/_button.scss */
.btn.btn-xl {
  padding: .937rem 1.875rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2.67px;
}

/* line 1, ../scss/_menu-mobile.scss */
.mobile-burger {
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

/* line 7, ../scss/_menu-mobile.scss */
.burger-bar {
  display: block;
  height: 2px;
  margin-bottom: 4px;
  background: #D02323;
}
/* line 12, ../scss/_menu-mobile.scss */
.burger-bar:last-child {
  margin-bottom: 0;
}
/* line 15, ../scss/_menu-mobile.scss */
.burger-bar.burger-bar--half {
  width: 12px;
  margin-left: 13px;
}

/* line 21, ../scss/_menu-mobile.scss */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  box-shadow: 5px 0px 7px 0px rgba(50, 50, 50, 0.42);
}
/* line 32, ../scss/_menu-mobile.scss */
.sidenav li {
  list-style: none;
}
/* line 34, ../scss/_menu-mobile.scss */
.sidenav li ul {
  padding-left: 10px;
}
/* line 38, ../scss/_menu-mobile.scss */
.sidenav ul {
  padding: 0 15px;
}
/* line 41, ../scss/_menu-mobile.scss */
.sidenav .btn-mobile {
  margin-top: 20px;
  width: 100%;
}
/* line 45, ../scss/_menu-mobile.scss */
.sidenav .active {
  color: #D02323;
}

/* line 50, ../scss/_menu-mobile.scss */
.sidenav ul li a {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: .562rem 0 .562rem 2rem;
  color: #D02323;
}
/* line 58, ../scss/_menu-mobile.scss */
.sidenav ul li a:hover {
  color: #000000;
}

/* line 63, ../scss/_menu-mobile.scss */
.sidenav ul li ul li a {
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
}
/* line 67, ../scss/_menu-mobile.scss */
.sidenav ul li ul li a .active {
  color: #D02323 !important;
}

/* line 72, ../scss/_menu-mobile.scss */
.sidenav a {
  padding: 0;
  text-decoration: none !important;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
  display: block;
}

/* line 81, ../scss/_menu-mobile.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/* line 85, ../scss/_menu-mobile.scss */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* line 2, ../scss/_footer.scss */
footer {
  color: #ffffff;
}
/* line 4, ../scss/_footer.scss */
footer .name-block {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 23px !important;
}

/* line 13, ../scss/_footer.scss */
.footer-location {
  background-color: #202020;
  padding-bottom: 32px;
}
/* line 16, ../scss/_footer.scss */
.footer-location img {
  display: block;
  width: 12px;
  height: 9px;
  margin: 0 auto;
}
/* line 22, ../scss/_footer.scss */
.footer-location .coordinates,
.footer-location a {
  color: #ffffff;
  font-size: 10px;
  line-height: 18px;
}
/* line 27, ../scss/_footer.scss */
.footer-location .coordinates:hover,
.footer-location a:hover {
  color: #ffffff;
}

/* line 33, ../scss/_footer.scss */
.footer-contact {
  background-color: #d02323;
  padding: 0 60px;
}
/* line 36, ../scss/_footer.scss */
.footer-contact input,
.footer-contact textarea {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-bottom-style: solid;
  border-color: #ffffff;
  border-radius: 0;
  color: #ffffff !important;
  font-size: 10px;
  line-height: 18px;
}
/* line 47, ../scss/_footer.scss */
.footer-contact .footer-btn {
  padding: .625rem 43px !important;
  margin-top: 23px;
}

/* line 54, ../scss/_footer.scss */
.footer-map,
.footer-contact,
.footer-location {
  width: 100%;
}

/* line 60, ../scss/_footer.scss */
.footer-bottom {
  background-color: #000000;
  padding: 10px 0;
}
/* line 63, ../scss/_footer.scss */
.footer-bottom p,
.footer-bottom a {
  font-size: 9px;
  line-height: 15px;
  font-weight: 700;
  margin: 0;
}
/* line 70, ../scss/_footer.scss */
.footer-bottom .web {
  font-weight: 500;
  color: #ffffff;
}

/* line 1, ../scss/_section-block.scss */
.section-block {
  max-width: 700px;
  margin: 0 auto;
}
/* line 4, ../scss/_section-block.scss */
.section-block img {
  border-bottom: 3px solid #D02323;
  margin-bottom: 50px;
}

/* line 11, ../scss/_section-block.scss */
.section-block-text h2 {
  color: #D02323;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
}
/* line 18, ../scss/_section-block.scss */
.section-block-text p {
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 24px;
}

/* line 26, ../scss/_section-block.scss */
.block-items-text {
  padding: 0 0 30px 25px;
  margin-left: 15px;
  position: relative;
  min-height: 114px;
}
/* line 31, ../scss/_section-block.scss */
.block-items-text .items-number,
.block-items-text h3 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.33px;
}
/* line 41, ../scss/_section-block.scss */
.block-items-text .items-number {
  position: absolute;
  left: -20px;
  top: -5px;
  width: 39px;
  height: 39px;
  border: 1px solid #D02323;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
  line-height: 36px;
}
/* line 53, ../scss/_section-block.scss */
.block-items-text p {
  color: #000000;
  font-size: 10px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
}

/* line 61, ../scss/_section-block.scss */
.border-items {
  border-left: 1px dashed #D02323;
}
