.content-bg{
    margin:50px 0;
    padding:72px 0;
    background: linear-gradient(90deg, #ffffff  45%, #d02323 45.1% ,  #d02323 10000px);
    position: relative;
    
    img{
        width: 50%;
        display: block;
    }
}

.block-text{
    width:50%;
    padding-left: 55px;
    h2{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color:#ffffff;
        margin:27px 0;
    }
    p{
        color: #ffffff;
        font-size: 10px;
        line-height: 18px;
    }
    .block-text-btn{
        margin:22px 0;
    }
}