footer{
    color: #ffffff;
    .name-block{
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top:40px;
        margin-bottom: 23px !important;
    }
}

.footer-location{
    background-color:#202020;
    padding-bottom: 32px;
    img{
        display: block;
        width:12px;
        height: 9px;
        margin:0 auto;
    }
    .coordinates,
    a{
        color:#ffffff;
        font-size: 10px;
        line-height: 18px;
        &:hover{
            color: #ffffff;
        }
    }
}

.footer-contact{
    background-color: #d02323;
    padding: 0 60px;
    input,
    textarea{
        background-color: transparent;
        border-width:0 0 1px 0;
        border-bottom-style: solid;
        border-color: #ffffff;
        border-radius: 0;
        color: #ffffff !important;
        font-size: 10px;
        line-height: 18px;
    }
    .footer-btn{
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        padding:7px 40px;
        background-color: transparent;
        border:1px solid #ffffff;
        border-radius: 25px;
        margin-top:23px;
        
    }
} 

.footer-map,
.footer-contact,
.footer-location{
    min-height: 456px;
}
    
.footer-bottom{
    background-color: #000000;
    padding: 10px 0;
    p,
    a{
        font-size: 9px;
        line-height: 15px;
        font-weight: 700;
        margin:0;
    }
    .web{
       font-weight: 500; 
        color:#ffffff;
    }
}