.header-info{
    padding:.75rem 0;
    background-color:#000000;
    font-size: $font-size-small;
    color:#ffffff;
    font-family:$font-family-primary;
    .container{

    }
    a{
        color:#ffffff;
        padding:0 .312rem;
        &:hover{
            color: #ffffff;
            text-decoration: none;
        }
    }
    li:first-child{
        &::after{
            content: "/";
            display: block;
            color:$primary-color;
        }
    }
}

.header-menu{
    padding: .937rem 0;
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    .container{

    }
    img{
        max-width: 11.687rem;
    }
}

.header-menu-block{
    margin:0;
    padding: .75rem 0;
    li{
        list-style-type: none;
        position: relative;
        a{
            cursor: pointer;
            color:$primary-color;
            text-decoration: none;
            text-transform: uppercase;
            transition: color .5s linear;
            display: block;
            padding: .562rem 1rem ;
            font-size: 0.8rem;
            font-family: $font-family-primary;
            font-weight: 500;
            letter-spacing: 2px;
            &:hover{
                color:#000000;
            }
        }
        &:hover .menu-sub{
            display: block;
        }
    }
}

.menu-sub{
    display: none;
    position: absolute;
    width:13.25rem;
    left:-3.75rem;
    top:1.687rem;
    padding:.937rem 0 0 0; 
    z-index: 100;
    background-color: #ffffff;
    li:first-of-type{
        position: relative;
        &::before{
            content:' ';
            width:13.25rem;
            left:-.875rem;
            border-top: 2px solid $primary-color; 
            position: absolute;
        }
    }
    li:last-of-type{
        border: 2px solid transparent;
    }
    li{
        text-align: center;
        padding: 0;
        margin:0 .875rem;
        border-bottom:.125rem solid #efefef;
        a{
            color:#000000;
            text-transform: none;
            font-family:$font-family-secondary; 
            &:hover{
                color:$primary-color;
            }
        }
    }
}


