@import "_variables.scss";

.hero{
    min-height: 31.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    .hero-deco{
        position:absolute;
        bottom: 0;
        width:100%;
    }
}

.hero-text{
    .hero-sub-title{
        color: #baeaff;
        font-size: 1.375rem;
        font-weight: 500;
    }
    .hero-title{
        text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: $font-size-h1;
        font-weight: 500;
        line-height: 3.75rem;
        text-transform: uppercase;
    }
}



