.icon{
    margin-top:1.75rem;
    padding-top:3.625rem;
    .section-title{
        font-size:$font-size-h2-titel-small;
    }
}

.icons-block{
    padding:0 .937rem;
    .img-block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.25rem;
        width: 6.25rem;
        border-radius: 50%;
        border:1px solid $grey-color;
        margin:0 auto;
    }
    h4{
        color: #000000;
        font-size: $font-size-h4-icon;
        font-weight: 700;
        font-family: $font-family-primary;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin:1.875rem 0;
    }
}