.icon{
    margin-top:1.75rem;
    padding-top:3.625rem;
}

.icons-block{
    padding:0 .937rem;
    .img-block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.25rem;
        width: 6.25rem;
        border-radius: 50%;
        border:1px solid grey;
        margin:0 auto;
    }
    h4{
        color: #000000;
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin:1.875rem 0;
    }
}