@import "_variables.scss";

.icon{
    margin-top:28px;
    padding-top:58px;
}

.icons-block{
    padding:0 15px;
    .img-block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border:1px solid grey;
        margin:0 auto;
    }
    h4{
        color: #000000;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin:30px 0;
    }
}