.menu-respond{
	display: inline-block;
    position: fixed;
    top: 5%;
    right: 2%;
	z-index: 9;
	-webkit-transition: all 1200ms;
	-moz-transition: all 1200ms;
	-ms-transition: all 1200ms;
	-o-transition: all 1200ms;
	transition: all 1200ms;
}
.menu-respond.respond_fixed{
	position: fixed;
	background: rgba(0,0,0,0.6);
	border-radius: 5px;
	top: 2%;
}
.tcon {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	width: 50px;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: transparent;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}
.tcon > * {
	display: block; 
}
.tcon:hover, .tcon:focus {
	outline: none; 
}
.tcon::-moz-focus-inner {
	border: 0; 
}

.tcon-menu__lines {
	display: inline-block;
	height: 4px;
	width: 50px;
	transition: 0.3s;
	background: $primary-color;
	position: relative; 
}
.tcon-menu__lines::before, .tcon-menu__lines::after {
	display: inline-block;
	height: 4px;
	width: 50px;
	transition: 0.3s;
	background: #fff;
	content: '';
	position: absolute;
	left: 0;
	-webkit-transform-origin: 2.85714px center;
	transform-origin: 2.85714px center;
	width: 100%; 
}
.tcon-menu__lines::before {
	top: 8px; 
}
.tcon-menu__lines::after {
	top: -8px; 
}
.tcon-transform .tcon-menu__lines {
	-webkit-transform: scale3d(0.8, 0.8, 0.8);
	transform: scale3d(0.8, 0.8, 0.8); 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
	background: transparent; 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	top: 0;
	width: 40px; 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg); 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg); 
}

.tcon-visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; 
}
.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; 
}
.menu-respond {
  top: 65px;
}

.site-header {
  padding-top: 50px;
}
.tcon {
  flex-wrap: wrap;
  padding-left: 12px;
  padding-right: 12px;
  height: 40px;
}
.tcon-menu__lines {
  display: block;
  width: 25px;
  height: 1.7px !important;
  margin-bottom: 4px;
}

.tcon-menu__lines:after,
.tcon-menu__lines:before {
  display: none!important;
}

.tcon-menu__lines.tcon-menu__lines--half {
  width: 12px;
  margin-left: 13px;
  margin-bottom: 0;
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
