.section-bg{
    background: linear-gradient(90deg, #f7f7f7  40%, #ffffff 40.01% ,  #ffffff 10000px);
    padding:72px 0;
    img{
        max-width: 104px;
        max-height: 104px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
}

.author-text{
    h3{
        color: $primary-color;
        font-size: $font-size-content;
        font-weight: 700;
        font-family: $font-family-primary;
        text-transform: uppercase;
        letter-spacing: 2.67px; 
    }
    p{
        color: #000000;
        font-size: 32px;
        line-height: 50px;
        font-weight: 400;
        font-family: $font-family-primary;
    }
}

.author-bottom{
    border-top:1px solid $primary-color;
    position: relative;
    margin-top:20px;
    &::after{
        content:"";
        display: block;
        border-bottom: 1px solid $primary-color;
        width:10000px;
        position: absolute;
        right: 0;
        top:-1px;
    }
}


.author-name{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2.67px;
    font-family:$font-family-primary; 
    .data{
        font-weight: 500;
        letter-spacing: 3.56px;
        border-left:1px solid $primary-color;
        padding-left:5px;
        font-family:$font-family-primary; 
    }
}

.button-block{
    .button{
        width:40px;
        height: 40px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        margin-right: 19px;
        i{
          color:$primary-color;
            font-size:24px;
            font-weight: 500;
        }
    }
}