.section-items{
    h2{
        text-transform: uppercase;
        font-size:$font-size-h2-titel-small;
    }
    .col-md-4{
        padding:0 30px;
    }
}

.items{
    margin-bottom: 55px;
    padding-bottom: 50px;
    border: 1px solid $grey-color;
    img{
        width:100%;
    }
    h3{
        color: #000000;
        font-size: $font-size-h2-items;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-top: 28px;
        font-family: $font-family-primary;
    }
    p{
        color: $font-color-grey;
        font-size: $font-size-content-small;
        line-height: 18px;
        font-family: $font-family-secondary;
        padding:0 56px 40px;
        margin:0;
    }
    
    .items-btn{
        margin:20px 0 40px;
    }
}