.section-items{
    h2{
        text-transform: uppercase;
    }
}

.items{
    margin-bottom: 55px;
    border: 1px solid $grey-color;
    img{
        width:100%;
    }
    h3{
        color: #000000;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-top: 28px;
    }
    p{
        color: #4a4a4a;
        font-size: 10px;
        line-height: 18px;
    }
    
    .items-btn{
        margin:40px 0;
    }
}