.section-block{
    max-width: 700px;
    margin:0 auto;
    img{
        border-bottom: 3px solid $primary-color;
        margin-bottom: 50px;
    }
}

.section-block-text{
    h2{
        color: $primary-color;
        font-size: 32px;
        font-weight: 400;
        line-height: 50px;
        font-family:$font-family-primary; 
    }
    p{
        color: $font-color-grey;
        font-family: $font-family-secondary;
        font-size: $font-size-content;
        line-height: 24px;
    }
}

.block-items-text{
    padding:0 0 30px 25px;
    margin-left:15px;
    position: relative;
    min-height: 114px;
    .items-number,
    h3{
        color: #000000;
        font-family: $font-family-primary;
        font-size: $font-size-content-big;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.33px;
        
    }
    .items-number{
        position: absolute;
        left:-20px;
        top:-5px;
        width: 39px;
        height: 39px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        text-align: center;
        background-color: #ffffff;
        line-height: 36px;
    }
    p{
        color: #000000;
        font-size: $font-size-content-small;
        line-height: 18px;
        font-family:$font-family-secondary; 
    }
}

.border-items{
    border-left: 1px dashed $primary-color;
}