$primary-color: #D02323;
$grey-color:#dddddd;
$grey-footer-bg:#202020;

$font-color-grey:#4a4a4a;


$font-size-small:.8rem;

$font-size-h1:50px;
$font-size-h1-mobile:24px;

$font-size-h2-titel:32px;
$font-size-h2-titel-mobile:18px;
$font-size-h2-titel-small:24px;

$font-size-h4-icon:12px;
$font-size-h2-items:18px;


$font-size-content-small:0.8rem;
$font-size-content:14px;
$font-size-content-big:20px;



$font-family-primary:'Montserrat', sans-serif;
$font-family-secondary:'Open Sans', sans-serif;