$primary-color: #D02323;
$grey-color:#dddddd;
$grey-footer-bg:#202020;

$font-color-grey:#4a4a4a;

$font-size-small:.5rem;
$font-size-h1:50px;
$font-size-h2-titel:32px;
$font-size-content-small:10px;
$font-size-content:12px;
$font-size-h3-icon:22px;


$font-family-Montserrat:'Montserrat', sans-serif;
$font-family-Open-Sans:'Open Sans', sans-serif;