.btn{
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-weight: 700;
    border-color: $primary-color;
    border-radius: 6rem !important;
    transition: all .3s linear;
    &.btn-danger{
        background-color: $primary-color;
        color:$white;
        &:hover {
          background-color: $white;
          border-color: $primary-color;
          color: $primary-color;
        }
    }
    &.btn-outline-white{
        border:1px solid $white !important;
        color: $white;
        background-color: transparent;
        &:hover {
          background-color: $white;
          color: $primary-color;
        }
    }
    &.btn-outline-danger{
        border:1px solid $primary-color !important;
        color:$primary-color;
    }
    &.btn-sm{
        font-size: 0.8rem;
        padding: .562rem 1rem 0.45rem;
    }
    &.btn-lg{
        border-radius: 10rem !important;
        padding: .625rem 1.25rem;
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: 2px;
    }
    &.btn-xl{
        padding: .937rem 1.875rem;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2.67px;
    }
}
