.hero{
    margin-top: 124.5px;
    min-height: 31.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 576px){
        min-height: 364px;
    }
    .container{
        max-width: 55rem;
    }
    .hero-deco{
        position:absolute;
        bottom: -1px;
        width:calc(100% + 2px);
        left: -1px;
    }
}

.hero-text{
    @media screen and (min-width: 768px){
        padding-bottom: 40px;
    }
    .hero-sub-title{
        color: #baeaff;
        font-size: 1.375rem;
        font-weight: 500;
        font-family: $font-family-primary;
        @media screen and(max-width:576px){
            font-size:$font-size-h2-titel-mobile;
            line-height: normal;
        }
    }
    .hero-title{
        text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
        color: $white;
        font-size: $font-size-h1;
        font-family: $font-family-primary;
        font-weight: 700;
        line-height: 3.75rem;
        text-transform: uppercase;
        letter-spacing: 3.33px;
        @media screen and(max-width:576px){
            font-size:$font-size-h1-mobile;
            line-height: normal;
        }
    }
}
