@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("css/swiper.min.css");
body {
  font-size: 16px;
  overflow-x: hidden; }

.section-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3.33px;
  margin-bottom: 40px; }
  .section-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 1.875rem;
    background-color: #f72727;
    margin: 0 auto;
    margin-top: .75rem; }

.gradient-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#faf8f8));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #faf8f8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #faf8f8 100%);
  background-image: linear-gradient(180deg, #ffffff 0%, #faf8f8 100%); }

.swiper-container {
  width: 100%;
  height: 100%; }

.header-info {
  padding: .75rem 0;
  background-color: #000000;
  font-size: 0.8rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif; }
  .header-info a {
    color: #ffffff;
    padding: 0 .312rem; }
    .header-info a:hover {
      color: #ffffff;
      text-decoration: none; }
  .header-info li:first-child::after {
    content: "/";
    display: block;
    color: #D02323; }

.header-menu {
  padding: .937rem 0;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  .header-menu img {
    max-width: 11.687rem; }

.header-menu-block {
  margin: 0;
  padding: .75rem 0; }
  .header-menu-block li {
    list-style-type: none;
    position: relative; }
    .header-menu-block li a {
      cursor: pointer;
      color: #D02323;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .5s linear;
      display: block;
      padding: 0.562rem 1rem;
      font-size: 0.8rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: 2px; }
      .header-menu-block li a:hover {
        color: #000000; }
    .header-menu-block li:hover .menu-sub {
      display: block; }

.menu-sub {
  display: none;
  position: absolute;
  width: 13.25rem;
  left: -3.75rem;
  top: 1.687rem;
  padding: .937rem 0 0 0;
  z-index: 100;
  background-color: #ffffff; }
  .menu-sub li:first-of-type {
    position: relative; }
    .menu-sub li:first-of-type::before {
      content: ' ';
      width: 13.25rem;
      left: -.875rem;
      border-top: 2px solid #D02323;
      position: absolute; }
  .menu-sub li:last-of-type {
    border: 2px solid transparent; }
  .menu-sub li {
    text-align: center;
    padding: 0;
    margin: 0 .875rem;
    border-bottom: .125rem solid #efefef; }
    .menu-sub li a {
      color: #000000;
      text-transform: none;
      font-family: "Open Sans", sans-serif; }
      .menu-sub li a:hover {
        color: #D02323; }

.hero {
  margin-top: 124.5px;
  min-height: 31.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 576px) {
    .hero {
      min-height: 364px; } }
  .hero .container {
    max-width: 55rem; }
  .hero .hero-deco {
    position: absolute;
    bottom: -1px;
    width: calc(100% + 2px);
    left: -1px; }

@media screen and (min-width: 768px) {
  .hero-text {
    padding-bottom: 40px; } }
.hero-text .hero-sub-title {
  color: #baeaff;
  font-size: 1.375rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif; }
  @media screen and (max-width: 576px) {
    .hero-text .hero-sub-title {
      font-size: 18px;
      line-height: normal; } }
.hero-text .hero-title {
  text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 3.75rem;
  text-transform: uppercase;
  letter-spacing: 3.33px; }
  @media screen and (max-width: 576px) {
    .hero-text .hero-title {
      font-size: 24px;
      line-height: normal; } }

.content-block-wrapper .section-title {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 1.875rem;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  letter-spacing: normal; }
  @media screen and (max-width: 480px) {
    .content-block-wrapper .section-title {
      font-size: 24px; } }

.section-content {
  border-bottom: 3px dotted #dddddd;
  padding: 40px 0 0; }
  @media screen and (max-width: 480px) {
    .section-content {
      padding: 25px 0 0; } }
  .section-content .section-text {
    color: #4a4a4a;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 50px; }
  .section-content .section-content-button {
    margin-bottom: -1.75rem; }

.section-icon-blocks {
  margin-top: 1.75rem;
  padding: 25px 0; }
  @media screen and (min-width: 768px) {
    .section-icon-blocks {
      padding: 3.5rem 0 3.1rem; } }
  .section-icon-blocks .section-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.33px;
    margin-bottom: 40px; }

.icons-block {
  padding: 0 .937rem; }
  .icons-block .img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    border: 1px solid #dddddd;
    margin: 0 auto; }
  .icons-block h4 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1.875rem 0; }

.content-bg {
  padding: 35px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #d02323), to(#d02323));
  background: -webkit-linear-gradient(top, transparent 30%, #d02323 30%, #d02323 100%);
  background: -o-linear-gradient(top, transparent 30%, #d02323 30%, #d02323 100%);
  background: linear-gradient(180deg, transparent 30%, #d02323 30%, #d02323 100%);
  position: relative; }
  @media screen and (max-width: 480px) {
    .content-bg {
      padding: 20px 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(20%, #d02323), to(#d02323));
      background: -webkit-linear-gradient(top, transparent 20%, #d02323 20%, #d02323 100%);
      background: -o-linear-gradient(top, transparent 20%, #d02323 20%, #d02323 100%);
      background: linear-gradient(180deg, transparent 20%, #d02323 20%, #d02323 100%); } }
  @media screen and (min-width: 768px) {
    .content-bg {
      margin: 50px 0;
      padding: 72px 0;
      background: -webkit-linear-gradient(left, transparent 35%, #d02323 35.1%, #d02323 10000px);
      background: -o-linear-gradient(left, transparent 35%, #d02323 35.1%, #d02323 10000px);
      background: linear-gradient(90deg, transparent 35%, #d02323 35.1%, #d02323 10000px); } }

.block-text {
  padding-left: 30px; }
  @media screen and (max-width: 768px) {
    .block-text {
      padding-left: 0; } }
  .block-text .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 20px 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3.33px; }
  .block-text p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-family: "Open Sans", sans-serif; }
  .block-text .block-text-btn {
    margin: 15px 0; }

.section-items {
  padding: 40px 0; }
  @media screen and (max-width: 480px) {
    .section-items {
      padding: 20px; } }

.items {
  padding-bottom: 30px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 576px) {
    .items {
      padding-bottom: 40px; } }
  @media screen and (min-width: 1200px) {
    .items {
      padding: 0 15px 55px; } }
  .items .content-container {
    padding: 20px 16px 25px;
    border: 1px solid #dddddd;
    border-top: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .items .content-container {
        padding: 20px 20px 30px; } }
    @media screen and (min-width: 992px) {
      .items .content-container {
        padding: 26px 50px 42px; } }
    .items .content-container .content-block {
      margin-bottom: 20px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      @media screen and (min-width: 768px) {
        .items .content-container .content-block {
          margin-bottom: 28px; } }
  .items img {
    width: 100%; }
  .items .title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px; }
  .items p {
    color: #4a4a4a;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-family: "Open Sans", sans-serif; }
  .items .items-btn {
    margin: 20px 0 40px; }

.section-bg {
  background: -webkit-linear-gradient(left, #f7f7f7 40%, #ffffff 40.01%, #ffffff 10000px);
  background: -o-linear-gradient(left, #f7f7f7 40%, #ffffff 40.01%, #ffffff 10000px);
  background: linear-gradient(90deg, #f7f7f7 40%, #ffffff 40.01%, #ffffff 10000px);
  padding: 25px 0; }
  @media screen and (min-width: 768px) {
    .section-bg {
      padding: 72px 0; } }
  .section-bg img {
    max-width: 104px;
    max-height: 104px;
    border-radius: 50%;
    margin-bottom: 20px; }

.author-text {
  padding-bottom: 20px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .author-text {
      padding-bottom: 35px;
      text-align: left; } }
  @media screen and (min-width: 1200px) {
    .author-text {
      padding-bottom: 70px; } }
  .author-text h3 {
    color: #D02323;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.67px; }
  .author-text p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif; }
    @media screen and (min-width: 768px) {
      .author-text p {
        font-size: 1.5rem;
        line-height: 2.2rem; } }
    @media screen and (min-width: 1200px) {
      .author-text p {
        font-size: 2rem;
        line-height: 3rem; } }
  .author-text strong {
    font-weight: 600; }

.author-bottom {
  position: relative;
  display: block;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .author-bottom {
      margin-top: 20px;
      display: inline-block;
      text-align: left; } }

.author-name {
  color: #000000;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.67px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  border-top: 1px solid #D02323;
  padding-top: 8px; }
  @media screen and (min-width: 768px) {
    .author-name {
      font-size: 1rem;
      border-top: none;
      padding-top: 0; } }
  .author-name .data {
    font-weight: 500;
    letter-spacing: 3.56px;
    border-left: 1px solid #D02323;
    padding-left: 5px;
    font-family: "Montserrat", sans-serif; }

.button-block .button {
  width: 40px;
  height: 40px;
  border: 1px solid #D02323;
  border-radius: 50%;
  margin-right: 19px; }
  .button-block .button i {
    color: #D02323;
    font-size: 24px;
    font-weight: 500; }

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 6rem !important;
  transition: all .3s linear; }
  .btn.btn-danger {
    background-color: #D02323;
    color: #ffffff; }
    .btn.btn-danger:hover {
      background-color: #fff;
      border-color: #D02323;
      color: #D02323; }
  .btn.btn-outline-white {
    border: 1px solid #ffffff !important;
    color: #ffffff;
    background-color: transparent; }
    .btn.btn-outline-white:hover {
      background-color: #fff;
      color: #D02323; }
  .btn.btn-outline-danger {
    border: 1px solid #D02323 !important;
    color: #D02323; }
  .btn.btn-sm {
    font-size: 0.8rem;
    padding: .562rem 1rem 0.45rem; }
  .btn.btn-lg {
    border-radius: 10rem !important;
    padding: .625rem 1.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 2px; }
  .btn.btn-xl {
    padding: .937rem 1.875rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2.67px; }

.mobile-burger {
  background-color: #ffffff;
  border: 0;
  cursor: pointer; }

.burger-bar {
  display: block;
  height: 2px;
  margin-bottom: 4px;
  background: #D02323; }
  .burger-bar:last-child {
    margin-bottom: 0; }
  .burger-bar.burger-bar--half {
    width: 12px;
    margin-left: 13px; }

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  box-shadow: 5px 0px 7px 0px rgba(50, 50, 50, 0.42);
  transform: translateX(-200%);
  transition: 0.3s all;
  z-index: 2000 !important; }
  .sidenav.is-visible {
    transform: translateX(0);
    box-shadow: 5px 0px 7px 0px rgba(50, 50, 50, 0.42), 0 0 0 100000px rgba(50, 50, 50, 0.5); }
  .sidenav li {
    list-style: none; }
    .sidenav li ul {
      padding-left: 10px; }
  .sidenav ul {
    padding: 0 15px; }
  .sidenav .btn-mobile {
    margin-top: 20px;
    width: 100%; }
  .sidenav .active {
    color: #D02323; }

.sidenav ul li a {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: .562rem 0 .562rem 2rem;
  color: #D02323; }
  .sidenav ul li a:hover {
    color: #000000; }

.sidenav ul li ul li a {
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a; }
  .sidenav ul li ul li a .active {
    color: #D02323 !important; }

.sidenav a {
  padding: 0;
  text-decoration: none !important;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
  display: block; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px; }

footer {
  color: #ffffff;
  overflow: hidden; }

.footer-contact-block {
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .footer-contact-block {
      padding: 25px 20px; } }
  @media screen and (min-width: 1200px) {
    .footer-contact-block {
      padding: 60px; } }
  .footer-contact-block .title {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 23px; }

.footer-location {
  background-color: #202020; }
  .footer-location .title {
    margin-bottom: 28px; }
  .footer-location img {
    display: block;
    width: 12px;
    height: 9px;
    margin: 0 auto; }
  .footer-location .coordinates,
  .footer-location a,
  .footer-location p {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 18px;
    text-decoration: none !important; }
    .footer-location .coordinates:hover,
    .footer-location a:hover,
    .footer-location p:hover {
      color: #ffffff; }

.footer-contact {
  background-color: #d02323;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */ }
  .footer-contact form {
    width: 300px;
    max-width: 100%;
    margin: 0 auto; }
  .footer-contact .group {
    position: relative;
    margin-bottom: 30px; }
    .footer-contact .group.textarea-group {
      margin-bottom: 15px; }
  .footer-contact input, .footer-contact textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 14px; }
  .footer-contact input:focus, .footer-contact textarea:focus {
    outline: none;
    border-color: transparent; }
  .footer-contact label {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .footer-contact input:focus ~ label, .footer-contact input:valid ~ label, .footer-contact textarea:focus ~ label {
    top: -20px;
    font-size: 14px;
    color: #fff; }
  .footer-contact .has-content label {
    top: -20px;
    font-size: 14px;
    color: #fff; }
  .footer-contact .bar {
    position: relative;
    display: block;
    width: 100%; }
  .footer-contact .bar:before, .footer-contact .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .footer-contact .bar:before {
    left: 50%; }
  .footer-contact .bar:after {
    right: 50%; }
  .footer-contact input:focus ~ .bar:before, .footer-contact input:focus ~ .bar:after, .footer-contact textarea:focus ~ .bar:before, .footer-contact textarea:focus ~ .bar:after {
    width: 50%; }
  .footer-contact .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .footer-contact input:focus ~ .highlight, .footer-contact textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }
@-webkit-keyframes inputHighlighter {
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  to {
    width: 0;
    background: transparent; } }
  .footer-contact .footer-btn {
    padding: .625rem 43px !important;
    margin-top: 23px; }

.footer-map,
.footer-contact,
.footer-location {
  width: 100%;
  height: 100%; }
  .footer-map .embed-responsive,
  .footer-contact .embed-responsive,
  .footer-location .embed-responsive {
    height: 100%; }

.footer-map {
  height: 300px; }
  @media screen and (max-width: 480px) {
    .footer-map {
      height: 250px; } }
  @media screen and (min-width: 992px) {
    .footer-map {
      height: 100%; } }

.footer-bottom {
  background-color: #000000;
  padding: 12px 0; }
  .footer-bottom p,
  .footer-bottom a {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    margin: 0; }
  .footer-bottom .web {
    font-weight: 400;
    color: #ffffff; }

.location-info-list {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .location-info-list ul {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .location-info-list ul li {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px; }
      .location-info-list ul li .icon-block {
        font-size: 1.4rem;
        margin-bottom: 10px; }
        @media screen and (min-width: 992px) {
          .location-info-list ul li .icon-block {
            font-size: 1.5rem; } }
      .location-info-list ul li a {
        font-size: inherit; }
      .location-info-list ul li:not(:last-child) {
        margin-bottom: 18px; }

.section-hero-img {
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .section-hero-img {
      margin-bottom: 45px; } }
  @media screen and (min-width: 992px) {
    .section-hero-img {
      margin-bottom: 60px; } }
  .section-hero-img img {
    border-bottom: 3px solid #D02323; }

.section-block-text {
  margin-bottom: 25px; }
  @media screen and (min-width: 768px) {
    .section-block-text {
      padding-right: 40px;
      margin-bottom: 0; } }
  .section-block-text h2 {
    color: #D02323;
    font-size: 32px;
    font-weight: 400;
    line-height: 50px;
    font-family: "Montserrat", sans-serif; }
    @media screen and (max-width: 480px) {
      .section-block-text h2 {
        font-size: 26px;
        line-height: 1.4; } }
  .section-block-text p {
    color: #4a4a4a;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px; }

.block-items-text {
  padding: 0 0 45px 34px;
  position: relative;
  min-height: 114px;
  margin-left: 15px; }
  .block-items-text .items-number,
  .block-items-text .title {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.33px;
    margin-bottom: 14px; }
    @media screen and (max-width: 480px) {
      .block-items-text .items-number,
      .block-items-text .title {
        font-size: 18px;
        line-height: 1.4; } }
  .block-items-text .items-number {
    position: absolute;
    left: -20px;
    top: -5px;
    width: 38px;
    height: 38px;
    border: 1px solid #D02323;
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .block-items-text p {
    color: #000000;
    font-size: 0.8rem;
    line-height: 18px;
    font-family: "Open Sans", sans-serif; }

.border-items {
  border-left: 1px dashed #D02323; }

.testimonials-slider-section {
  overflow: hidden; }

.swiper-buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  margin: 25px 0 15px; }
  @media screen and (min-width: 768px) {
    .swiper-buttons-container {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
      transform: translate(0, -100%);
      position: absolute;
      width: 60%;
      right: 0;
      margin: 0; } }
  .swiper-buttons-container .swiper-btn {
    background-image: none;
    width: 42px;
    height: 42px;
    border: 1px solid #D02323;
    border-radius: 50%;
    margin: 0;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0; }
    .swiper-buttons-container .swiper-btn:first-child {
      margin-right: 20px; }
    .swiper-buttons-container .swiper-btn .slider-arrow {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      background-image: url("img/slider-arrow.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 16px 16px; }
    .swiper-buttons-container .swiper-btn:focus, .swiper-buttons-container .swiper-btn:active {
      outline: none; }
    .swiper-buttons-container .swiper-btn.swiper-button-next .slider-arrow {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg); }

.slider-author-line {
  display: none;
  width: 40%;
  position: relative; }
  @media screen and (min-width: 768px) {
    .slider-author-line {
      display: block; } }
  .slider-author-line:before, .slider-author-line:after {
    position: absolute;
    content: '';
    top: -30px;
    height: 1px;
    background: #D02323; }
  .slider-author-line:after {
    width: 100%;
    left: 0; }
  .slider-author-line:before {
    width: 100vw;
    left: -100vw; }

/*# sourceMappingURL=main.css.map */
